.step_1 {
    --width_game: 350px;
    --width: 100px;
    --heigt: 100px;
    --gap: 100px;
    --ending: none;
    --pointer: pointer;
}

.step_2 {
    --width_game: 450px;
    --width: 150px;
    --heigt: 150px;
    --gap: 100px;
    --ending: none;
    --pointer: default;
}

.step_3 {
    --width_game: 550px;
    --width: 150px;
    --heigt: 150px;
    --gap: 200px;
    --ending: grid;
    --pointer: default;
}

@keyframes three_points {
    0% {margin-left: 20px;}
    33% {margin-left: 65px;}
    66% {margin-left: 110px;}
}

.waiting {
    display: none;
    z-index: 10;
    margin-left: 20px;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background-color: white;
    animation-name: three_points;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

.hide{
    width: var(--width);
    height: var(--heigt);
    background-color: black;
    border-radius: 100%;
    cursor: default;
}

#game {
    width: var(--width_game);
    height: 350px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: var(--gap);
}

.rock {
    width: var(--width);
    height: var(--heigt);
    background-color: transparent;
    background-image: url("rock.png");
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    cursor: var(--pointer);
}

.paper {
    width: var(--width);
    height: var(--heigt);
    background-color: transparent;
    background-image: url("paper.png");
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    cursor: var(--pointer);
}

.scissors {
    width: var(--width);
    height: var(--heigt);
    background-color: transparent;
    background-image: url("scissors.png");
    background-size: cover;
    background-position: center;
    border-radius: 100%;
    cursor: var(--pointer);
}

.end {
    display: var(--ending);
    position: absolute;
    top: 200px;
    left: calc(50% - 200px);
    grid-template-columns: 400px;
    grid-template-rows: 100px 150px;
    row-gap: 100px;
    justify-content: center;
    width: 400px;
    height: 400px;
    background-color: transparent;
}

.result {
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.again {
    height: 100px;
    width: 300px;
    font-size: 36px;
    color: orange;
    font-weight: bold;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}