:root {
    margin: 0px;
    padding: 0px;
    background: radial-gradient(circle, hsl(214, 47%, 23%) 0%, hsl(237, 49%, 15%) 100%);
    font-family: 'Barlow Semi Condensed', sans-serif;}

#top {
    margin: auto;
    padding: 15px;
    width: 500px;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 1px white;
    border-radius: 8px;
}

.title {
    color: white;
    margin: 0px;
    line-height: 0.8;
    font-size: 36px;
}

.score {
    height: 100px;
    width: 130px;
    background-color: white;
    text-align: center;
    border-radius: 8px;
}

.text_score {
    color: blue;
}

.number_score {
    color: grey;
}

#rules {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: 14px;
    height: 30px;
    width: 100px;
    margin-left: 80%;
    margin-bottom: 2%;
    background: none;
    text-align: center;
    border: solid 1px white;
    border-radius: 8px;
    color: white;
}

#rules:hover {
    cursor: pointer;
}

#print_rules {
    display: none;
    position: absolute;
    top: 175px;
    left: calc(50% - 150px);
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 200px;
    row-gap: 20px;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 10px;
}

#print_rules .img {
    grid-area: 2, 1, 2, span 2;
}

#print_rules button{
    border: none;
    background-color: transparent;
    text-align: end;
    margin-top: 20px;
}

#print_rules button:hover {
    cursor: pointer;
}

#print_rules p{
    font-size: 22px;
}